<!Doctype html>
<html lang="en">

<%- include('../partials/head') %>

<body>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check" viewBox="0 0 16 16">
            <title>Check</title>
            <path
                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
        </symbol>
    </svg>

    <div class="container py-3">
        <%- include('../partials/header') %>
            <main class="post">
                <div class="container">
                    <form action="/posts/update/<%= post._id%>" method="post">
                        <div class="mb-3 ">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" name="title" value="<%= post.title %>">
                        </div>
                        <div class="mb-3 ">
                            <label for="title" class="form-label">Snippet</label>
                            <input type="text" class="form-control" id="snippet" name="snippet" value="<%= post.snippet%>">
                        </div>
                        <div class="mb-3">
                            <label for="Content" class="form-label">Content</label>
                            <textarea class="form-control" id="content" name="content" rows="3"><%= post.content %> </textarea>
                        </div>
                        <button class="btn btn-lg btn-success" type="submit">Update</button>
                    </form>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </div>



</body>

</html>